<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Saat-Phere : Home Page</title>
</head>
<body>
	<div>
			
		<span>
			<img id="homePageImage" src="edge/appCore/modules/layout/images/homePage.png" /> 
		</span>
		
		<span id="homePageContent">
			<U><H3>Upcoming Event:</H3></U><br>

			"Get connected with The "One" who <br>
			shall walk along With you.. For you.. <br>
			For life!" <br><br>
			
			On Sunday, 28th February 2016 <br>
			
			between 9am  to 3pm <br><br>
			
			At Bandra (W), Mumbai - 400050. <br><br>
			
			<H3> <span class="registerTitle" ng-click="es.setSelectedMenuRaw('2REGISTER')"> Register Now! </span> </H3><br>
			
		</span>
		
	</div>
	<!-- <input type="text" value="Name"/><br>
	{{name}} <br>
	{{signUpForm.emailId}}
	<input type="email" ng-model="es.signUpForm.emailId" class="form-control" placeholder="Email Address...">
	<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker> -->
</body>
</html>