<html>
<body>
<pre>
<div style="background-color: #8B0000; color: #DBCBBB; font: 19px monotype corsiva;">

	Hi ${profileDetails.secure.name},
	
		We congratulate you to become part of Saat-Phere Family.
		
		Your account has been created. Your profile Id is ${profileDetails.profileId}.
		
		Please use email address and below password to login:		
		
			${profileDetails.signUpEntity.confirmPwd}
			
		<i>(Please change password on very first login!)</i>
		
		On login, you may click on 'My Profile' to fill up further details and click on 'Extend Membership' to extend your membership.
					
		In future you may follow same steps to reset your password.
		
		We hope you would like our service. In case of any concerns please feel free to <a href="mailto:support@saat-phere.com">drop us a mail</a>!
			  
		Good Luck In Your Search!
		
	Thanks and Regards,
	Saat-Phere Team
	<a href="mailto:support@saat-phere.com">Drop us a mail</a>	  


	-------------------------------------------------------------------------------------------------------
	
	Appendix:
	
	   Steps to reset or change password:
			
			* Click on 'Login' link at the top right corner.
			* Login form will open. Click on 'Reset' button.
			* Reset form will open. Enter your email address you entered while registration. Click on 'Send Code' button.
			* This would send you verification code on the same email address.
			* Copy this code and paste in the Reset Form.
			* Enter desired password, confirm password and then click on 'Submit'.
			* Use this password hence on to login.
			
			
</div>
</pre> 
</body>
</html>