<div>
  	<h3><U>Personal:</U> </h3>
  	<span style="cursor: pointer;" ng-show="es.loggedInUserId" ng-click="es.openPopup('FORGOT_PWD_POP_UP')"> <H5> (Click here to Change Password) </H5> </span> 
  	
  	<div class="leftSection">Basic: </div>	
  	<div class="rightSection">
  		<div class="rightSectionSub"> 
  			Name: <input ng-minlength="3" maxlength="100" ng-maxlength="100" class="formInput" type="text" ng-model="es.editProfile.secure.name" title="~Full Name~" size="50" />
  		</div>
  		<div class="rightSectionSub"> Gender: 
			<select required class="formInput" ng-model="es.editProfile.signUpEntity.gender" title="~Gender~" 
			  ng-options = "values for values in es.genderList">
			</select> 
			  <!-- ng-options = "item.server as item.client group by item.group for item in es.genderList" : Worked --> 
		</div>
		<div class="rightSectionSub"> 
			Blood Group: 
			<select required class="formInput" ng-model="es.editProfile.bloodGroup" title="~Blood Group~" 
			  ng-options = "values for values in es.bloodGroupList">
			</select> 
		</div>
		<div class="rightSectionSub"> 
			Height:  
			<select required class="formInput shortInput" ng-model="es.editProfile.heightFt" title="~Feet~" 
			  ng-options = "values for values in es.heightFtList">
			</select> Ft  
	        <select required class="formInput shortInput" ng-model="es.editProfile.heightInch" title="~Inches~" 
			  ng-options = "values for values in es.heightInchList">
			</select> Inch, 
	    </div>
	    <div class="rightSectionSub">
	    	Weight:  <input ng-minlength="2" maxlength="3" ng-maxlength="3" class="formInput shortInput" type="number" ng-model="es.editProfile.weight" title="Weight" size="3" min="30" max="150" /> kg,  
	    </div>
	    <div class="rightSectionSub">
	    	Body Type: 
	    	<select required class="formInput" ng-model="es.editProfile.bodyType" title="~Body Type~" 
			  ng-options = "values for values in es.bodyTypeList">
			</select>
   		</div>
   		<div class="rightSectionSub">
   			Skin Color: 
   			<select required class="formInput" ng-model="es.editProfile.skinColor" title="~Skin Color~" 
			  ng-options = "values for values in es.skinColorList">
			</select>
   		</div>
  	</div>
  	
  	<div class="leftSection">Ethnicity: </div>
         <div class="rightSection">
			<div class="rightSectionSub">
				Religion: 
				<select required class="formInput" ng-model="es.editProfile.religion" title="~Religion~" 
				  ng-options = "values for values in es.religionList">
				</select>
			</div>
			<div class="rightSectionSub">
				Cast: 
				<select required class="formInput" ng-model="es.editProfile.cast" title="~Cast~" 
				  ng-options = "values for values in es.castList">
				</select>
			</div>
			<div class="rightSectionSub">
				Mother Tongue: 
				<select required class="formInput" ng-model="es.editProfile.motherTongue" title="~Mother Tongue~" 
				  ng-options = "values for values in es.motherTongueList">
				</select>
			</div>
		</div>
				
	<div class="leftSection">Birth Details: </div>
		<div class="rightSection">
			<div class="rightSectionSub">
				Date: 
				<input datepicker-popup is-open="es.birthDtOpened" 
				     ng-click="es.birthDtOpened = true"  class="formInput" type="text" 
				     ng-model="es.editProfile.birthDate" />
			</div>
			<div class="rightSectionSub">
	 			Time: 
	 			<select required class="formInput shortInput" ng-model="es.editProfile.birthHr" title="~Hour~" 
				  ng-options = "values for values in es.birthHrList">
				</select> : 
				<select required class="formInput shortInput" ng-model="es.editProfile.birthMin" title="~Minutes~" 
				  ng-options = "values for values in es.birthMinList">
				</select> 
				<select required class="formInput shortInput" ng-model="es.editProfile.birthAP" title="~Time~" 
				  ng-options = "values for values in es.birthAPList">
				</select>
			</div>		 		
		</div>
	
	<div class="leftSection">Birth Place: </div>
    <div class="rightSection">
		<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.birthCity" placeholder="~City~" size="20" />
   	 	<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.birthState" placeholder="~State~" size="20"  />
   		<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.birthCountry" placeholder="~Country~" size="20" />
		</div>	
    
    <div class="leftSection">Residence: </div>
    <div class="rightSection">
		<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.residingAtCity" placeholder="~City~" size="20"  />
 				<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.residingAtState" placeholder="~State~" size="20"  />
 				<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.residingAtCountry" placeholder="~Country~" size="20" />
 				<div class="rightSectionSub">
  			With 
  			<select required class="formInput" ng-model="es.editProfile.residingWith" title="~Residing With~" 
			  ng-options = "values for values in es.residingWithList">
			</select>
		 </div>
   	</div>	
    
    <div class="leftSection">Kundali: </div>
    <div class="rightSection">
			<div class="rightSectionSub">
  				Ras: <input ng-minlength="3" maxlength="30" ng-maxlength="30" class="formInput" type="text" ng-model="es.editProfile.kundaliRas" title="~Ras~" title="~Ras~" size="20" />
  			</div>
  			<div class="rightSectionSub">
  				Nakshatra: <input ng-minlength="3" maxlength="30" ng-maxlength="30" class="formInput" type="text" ng-model="es.editProfile.kundaliNakshatra" title="~Nakshatra~" size="30" />
  			</div>		   			
  			<div class="rightSectionSub">
	   			Nadi: 
	   			<select required class="formInput" ng-model="es.editProfile.kundaliNadi" title="~Nadi~" 
	   			  ng-options = "values for values in es.kundaliNadiList">
				</select>
			</div>		   			
  			<div class="rightSectionSub">
	  	    	Charan: 
	  	    	<select required class="formInput" ng-model="es.editProfile.kundaliCharan" title="~Charan~" 
	  	    		ng-options = "values for values in es.kundaliCharanList">
				</select>	  	    	
	     	</div>
			<div class="rightSectionSub">
	   			Gan: 
	   			<select required class="formInput" ng-model="es.editProfile.kundaliGan" title="~Gan~" 
	   			  ng-options = "values for values in es.kundaliGanList">
				</select>
  			</div>
  			<div class="rightSectionSub">
  				Gotra: <input ng-minlength="3" maxlength="30" ng-maxlength="30" class="formInput" type="text" ng-model="es.editProfile.kundaliGotr" title="~Gotr~" size="20" />
  			</div>
  			<div class="rightSectionSub">
  				Devak: <input ng-minlength="3" maxlength="30" ng-maxlength="30" class="formInput" type="text" ng-model="es.editProfile.kundaliDevak" title="~Devak~" size="20" />
  			</div>
  		</div>
  	
  		<div class="leftSection">Academic: </div>
    	<div class="rightSection">
    		<div class="rightSectionSub">
	        	Type:
	        	<select required class="formInput" ng-model="es.editProfile.degreeType" title="~Academic Degree~" 
		   			  ng-options = "item.server as item.client for item in es.degreeTypeList">
				</select>
			</div>
			<div class="rightSectionSub">
	        	Details:
				<input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.degreeDetails" title="~Degree Details~" size="30"/>
			</div>
  		</div>
  		<div class="leftSection">Professional: </div>
    	<div class="rightSection">
	    	<div class="rightSectionSub">
	   			Working with <input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.company" title="~Company Name~" size="30"/> 
	   		</div>
	   		<div class="rightSectionSub">
	   			as <input ng-minlength="3" maxlength="50" ng-maxlength="50" class="formInput" type="text" ng-model="es.editProfile.designation" title="~Designation~" size="50" />
	   		</div>
	   		<div class="rightSectionSub">
	   			Earning <input ng-minlength="5" maxlength="8" ng-maxlength="8" class="formInput" type="number" ng-model="es.editProfile.earning" title="~Per Annum Pkg~" placeholder="~Per Annum Pkg~" size="30" />
	   		</div>
  		</div>
</div>  