<div>		    
    <h3><U>Contact:</U></h3>

 	<div class="leftSection">Email Id: </div>			  	
  	<div class="rightSection">
  		<input ng-minlength="3" maxlength="100" ng-maxlength="100" class="formInput" type="email" ng-model="es.editProfile.signUpEntity.emailId" title="~Email Address~" size="70" />
  	</div>
		  	
  	<div class="leftSection">Cell (Self): </div>			  	
  	<div class="rightSection">
  		<input ng-minlength="10" maxlength="100" ng-maxlength="100"  class="formInput" type="tel" ng-model="es.editProfile.secure.cell" title="~Phone Number (Candidate)~" size="70" />
  	</div>
 	
  	<div class="leftSection">Cell (Parent): </div>			  	
  	<div class="rightSection">
  		<input ng-minlength="10" maxlength="100" ng-maxlength="100"  class="formInput" type="tel" ng-model="es.editProfile.secure.cellParents" title="~Phone Number (Parents)~" size="70" />
  	</div>
  	
</div>

<div>		    
    <h3><U>Social:</U></h3>
  	
  	<div class="leftSection">Facebook: </div>			  	
  	<div class="rightSection">
  		<input class="formInput" type="url" ng-model="es.editProfile.secure.facebook" title="~Facebook~" size="70" />
  	</div>
  	
  	<div class="leftSection">Twitter: </div>			  	
  	<div class="rightSection">
  		<input class="formInput" type="url" ng-model="es.editProfile.secure.twitter" title="~Twitter~" size="70" />
  	</div>
  	
  	<div class="leftSection">LinkedIn: </div>			  	
  	<div class="rightSection">
  		<input class="formInput" type="url" ng-model="es.editProfile.secure.linkedIn" title="~LinkedIn~" size="70" />
  	</div>
  	
 </div>