<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="edgeApp popupDiv">
		<div>
			<h3>Password Reset Form: </h3>
		</div>
		<form>
			<div class="form-group">
		       <label class="formLabel">Email Address:</label>
		       <input type="email" name="username" ng-model="es.signInForm.emailId" class="formInput" placeholder="Email Address..." >
		       <br><button class="formButton" type="button" ng-click="es.sendVerificationCode(es.signInForm.emailId)" ng-show="!es.verificationCodeStatus">Send Code</button> 
		       <h5>{{es.verificationCodeStatus}}</h5> 
		    </div>
		    <div class="form-group">
		      <label class="formLabel">Code:</label>
		     
		      <input type="text" ng-model="es.signInForm.verificationCode" class="formInput" placeholder="Verification Code..." >
		    </div>	
			<div class="form-group">
		       <label class="formLabel">Password:</label>
		      <input type="password" name="password" ng-model="es.signInForm.pwd" class="formInput" placeholder="Password..." >
		    </div>	
		    <div class="form-group">
		       <label class="formLabel">Confirm Password:</label>
		      <input type="password" name="password" ng-model="es.signInForm.confirmPwd" class="formInput" placeholder="Confirm Password..." >
		    </div>			
		    <div class="form-group">
		      <button class="formButton" type="button" ng-click="es.resetPassword()">Submit</button>
		      <button class="formButton" type="button" ng-click="es.closePopup('FORGOT_PWD_POP_UP')">Cancel</button>
		      <button class="formButton" type="reset" ng-click="es.verificationCodeStatus=null">Clear</button>
		    </div>	
		</form>
	</div>
</body>
</html>

